[package]
name = "vxl"
version = "0.1.0"
edition = "2021"

[dependencies]

[dependencies.bevy]
version = "0.13"
default-features = false
features = ["bevy_pbr", "bevy_winit", "multi-threaded"]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
